.sidebar {
    @apply block xl:hidden;
    cursor: pointer;
    border: 1px solid transparent;
    width: fit-content;
    padding: 2rem;
    background: transparent;
    &:hover {
        border-color: #fff;
    }
    svg {
        max-height: 2rem;
        width: 20px;
    }
}