@import '../../colors';
@import '../../ui/atoms/input.module.scss';

.courseItem {
    display: block;
    color: $darkGray;
    &__courseData {
        p {
            @apply my-10 p-4 xl:p-0;
        }
    }
    &__descriptionImage {
        @apply mr-0 xl:mr-8;
        img {
            @apply w-[100%] xl:w-[200px] xl:h-[200px] xl:max-w-[none] mb-4 xl:mb-0;
        }
    }
    &__description {
        h2 {
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
        }
        p {
            @apply p-0;
        }
    }
    &__startCourse {
        @apply mb-8 text-center;
        button {
            @extend .startCourse;
            @apply mt-0;
        }
    }
}