@import '../../colors';

.table {
  &__header {
    @apply hidden md:flex justify-between p-4;
    font-size: 1.3em;
    color: $white;
    background: $footerGray;

    &__rightSide{
      @apply flex justify-between w-[65%];
      &__block {
        @apply flex w-[50%];
        &__separator {
          @apply p-2;
          border-left: 1px solid $white;
        }
      }
    }
  }
  #modulename, #status {
    @apply w-[25%];
  }
}
