$darkBlue: #007BFF;
$purple: #534FEE;
$darkPurple: #432581;
$lightBlue: #5EDFFF;
$middleBlue: #00B2FF;
$darkGray: #313131;
$footerGray: #71728C;
$lightGray: #E4E4E4;
$iconGray: #565656;
$inputGray: #535353;
$inputLightGray: #F9F7F7;
$inputGrayBorder: #D9D9D9;
$iconLightGray: #D1D5D9;
$underlineGray: #9090AA;
$red: #BF2727;
$deepBlue: #000080;
$white: #fff;