@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400;600&display=swap');

body {
  font-family: 'JetBrains Mono', monospace;
  color: #fff;
}

h5 {
  font-size: 20px;
}

.logo {
  border: 1px solid transparent;
  display: block;
  width: fit-content;
  &:hover {
    border-color: #fff;
  }
}

img, svg {
  display: initial;
}

a .svg-inline--fa, button .svg-inline--fa {
  max-height: 1rem;
}

.buttonIcon .svg-inline--fa {
  max-height: 2rem;
}

.content {
  @apply m-auto max-w-[1280px];
}
