@tailwind base;
@tailwind components;
@tailwind utilities;
@import './colors';
// eslint-disable-next-line import/no-unresolved
@import "@aws-amplify/ui-react/styles.css";

body {
  font-family: 'JetBrains Mono', monospace;
  color: #fff;
}

h5 {
  font-size: 20px;
}

.logo {
  border: 1px solid transparent;
  display: block;
  width: fit-content;
  &:hover {
    border-color: #fff;
  }
}

img, svg {
  display: initial;
}

a .svg-inline--fa, button .svg-inline--fa {
  max-height: 1rem;
}

svg {
  max-height: 1rem;
}

.buttonIcon .svg-inline--fa {
  max-height: 1.45rem;
}

.content {
  @apply m-auto max-w-[1280px];
}

.modalBackdrop {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.red {
  background-color: $red;
  color: #fff;
}

.middleBlue {
  background-color: $middleBlue;
  color: $deepBlue;
}

.darkBlue {
  background-color: $darkBlue;
  color: #000;
}

.fa-xl {
  max-height: 2rem !important;
}

[data-amplify-authenticator] {
  --amplify-components-button-primary-background-color:  $darkBlue;
  --amplify-components-authenticator-container-width-max: 100%;
  .amplify-button--primary {
    background-color: $darkBlue !important;
  }
  .amplify-tabs-item[data-state=active] {
    color: $darkBlue;
    border-color: $darkBlue;
  }
  .amplify-button--link {
    color: $darkBlue; 
  }
}

p {
  color: $darkGray;
}
 .loading {
   color: $darkGray;
 }