@import './../colors';
@import './../ui/utility.module.scss';
.profile {
  @extend .contentMobile;
  h1 {
    color: $darkGray;
    font-size: 40px;
    @apply mt-8;
  }
  &__courses {
    @apply block xl:flex justify-between;
    div {
      width: 100%;
    }
  }
}