@import '../../colors';
.tableRow {
  @apply block md:flex justify-between p-4 pb-2;
  color: $darkGray;
  border-bottom: 1px solid $footerGray;
  &__name {
    font-size: 1.2em;
    @apply mb-4 md:m-0 font-bold;
  }
  &__modules {
    &__name {
      @apply md:w-[50%];
      font-size: 1em;
      div {
        @apply p-0 md:pl-2 mb-4;
        line-height: 1;
        height: 3rem;
      }
    }
    &__status {
      @apply w-[50%];
      &__item {
        @apply mb-4 pl-2 pt-0.5;
        height: 3rem;
      }
    }
    @apply flex justify-between md:w-[65%];
  }
}