@import '../../colors';
@import '../../ui/atoms/input.module.scss';

.link {
    @apply min-w-[100px];
    border: 1px solid transparent;
    &:hover {
        border-color: #fff;
    }
}
.topMenu {
    min-width: 300px;
    &__item {
        position: relative;
        display: inline;
        white-space: nowrap;
        z-index: 10;
        @extend .link;
        &__childrenLayout {
            display: none;
            position: absolute;
            top: 1.3rem;
            z-index: 9;
            :hover > & {
               display: block;
            }
            &__children {
                position: relative;
                background-color: #fff;
                color: $darkGray;
                padding: 1rem;
                box-shadow: 1px 6px 11px -5px rgba(49,49,49,0.66);
                border-radius: 0.5rem;
                white-space: nowrap;
                top: 0.9rem;
                &::before {}
                &::after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    top: -10px;
                    width: 0;
                    height: 0;
                    transform: rotate(180deg);
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-top: 15px solid #fff;
                    clear: both;
                }
                a {
                    display: block;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        
    }
}

.languageSelector {
    position: relative;
    background-color: #fff;
    color: $darkGray;
    padding: 1rem;
    box-shadow: 1px 6px 11px -5px rgba(49,49,49,0.66);
    border-radius: 0.5rem;
    white-space: nowrap;
    top: 0.9rem;
    &::before {}
    &::after {
        content: "";
        position: absolute;
        left: 25%;
        top: -10px;
        width: 0;
        height: 0;
        transform: rotate(180deg);
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 15px solid #fff;
        clear: both;
    }
    a {
        display: block;
        &:hover {
            text-decoration: underline;
        }
    }
}

.login {
    @extend .link;
}
.signup {
    @extend .button;
    @extend .buttonWithHover;
    @extend .blueButton;
    padding: 0 1rem;
    color: $darkGray;
    &::before {}
    &::after {
        left: 85%;
        top: 2px;
    }
    &:hover {
        &::after {
            top: 1px;
            left: 85%;
        }
    }
}

